<!-- Place all UI elements intended to be present across all routes in this file -->
.app
  div(flex)
    md-toolbar.md-hue-2
      .md-toolbar-tools
        md-button.md-icon-button(aria-label="Settings")
          i.fa.fa-bars
        h2(flex="", md-truncate="") Home
  ui-view
