@import "common/common";
@import "~angular-material/angular-material.scss";
@import "~angular-loading-bar/src/loading-bar.css";

.app {
  height: 100%;
}

.avatar {
  img {
    width: 25px;
    border-radius: 25px;
    margin-right: 1em;
  }
}