<!-- Place all UI elements intended to be present across all routes in this file -->
.app
  div(flex)
    md-toolbar.md-hue-2
      .md-toolbar-tools
        .avatar
          img(ng-src="{{ user.avatar_url }}")
        a(flex="", md-truncate="", href="{{ user.html_url }}" target="_blank") {{ user.name }}
  ui-view
