div
  .repositories
    md-card(ng-repeat="i in $ctrl.repositories")
      md-card-title
        md-card-title-text
          span.md-body-1 {{ i.name }}
      md-card-content
        p.md-caption {{ i.description }}
        .actions
          md-button.md-icon-button(href="{{ i.url }}" target="_blank")
            i.fa.fa-code
          md-button.md-icon-button(href="{{ i.demo_link }}" target="_blank" ng-disabled="!i.demo_link")
            i.fa.fa-external-link