div
  .repositories
    md-card(ng-repeat="i in $ctrl.repositories")
      img.md-card-image(alt="repository-icon", ng-src="{{ i.icon }}")
      |     
      md-card-title
        md-card-title-text
          span.md-title {{ i.name }}
      |     
      md-card-content
        p {{ i.description }}
      md-card-actions(layout="row", layout-align="end")
        md-button(href="{{ i.url }}" target="_blank") Source Code
        md-button(href="{{ i.url }}" target="_blank") View Demo
